/* @import url('<https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap>'); */

* {
  box-sizing: content-box;
}
section {
  font-family: 'Oxygen', sans-serif;
  color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

ul,
li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 50px;
}

li {
  /* border: 2px solid lightgrey;
  box-sizing: border-box;
  background-color: light orange; */
  text-decoration: none;
  font-size: small;
}

div.event {
  flex-wrap: wrap;
  width: 300px;
  height: 330px;
  align-items: center;
  justify-content: center;
}

.link {
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  padding-left: 50px;
}
.link:hover {
  color: darkslategrey;
}

.gigInfo {
  margin-left: 10px;
  margin-top: 35px;
  font-family: 'Oxygen', sans-serif;
  font-size: medium;
  color: white;
}
.buyTicketsButton {
  margin: 0 auto;
  padding: 5px;
  font-family: 'Oxygen', sans-serif;
  background-color: white;
  color: black;

  border-radius: 15px;
  box-shadow: 2px 5px 5px lightgrey;
}

img {
  width: 300px;
  height: 150px;
}

a {
  text-decoration-line: none;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
